@charset "UTF-8";
/* CSS Document */

/* Volgende regel gaat een font importeren vanuit Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Volgende regel gaat de geïmporteerde fiont toewijzen aan elke paragraaf */
p{font-family: 'Helvetica', sans-serif;}

img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
/* volgende regel gaat de klasse "container-fluid" beschrijven*/
.container-fluid {
    width: 100%;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-right: auto;
    margin-left: auto;
}

.img-fluid-body {
  display: flex;
  margin: auto;
  max-width: 75vw;
  max-height: 85vh;
  padding: 0 2.5vw;
  object-fit: contain;
  justify-content: center;
}

.img-fluid-nav {
  width: auto;
  height: 20vh;
  position: relative;
  left: 0;
}

.img-fluid-arrow {
  height: 10vh;
  width: auto;
  position: absolute;
  top: 35vh;
  left: 0;
}

summarytext, .sum {
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

div.gallery {
  margin: 2vh 4vw;
  padding: 1vw;
  border: 1px solid #ccc;
  width: auto;
}

div.gallery2 {
  margin: 2vh 4vw;
  padding: 1vw;
  border: 1px solid #ccc;
  width: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery2:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 22vw;
  height: auto;
  position: relative;
}

div.gallery2 img {
  width: 22vw;
  position: relative;
  top: 120px;
}

div.desc {
  padding: 15px;
  text-align: center;
  max-width: 22vw;
}

div.desc3 {
  padding: 15px;
  text-align: center;
  max-width: 22vw;
  position: relative;
  top: 120px;
}

div.desc2 {
  text-align: center;
}

.row2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  display: flex;
  padding: 10vh 0;
  justify-content: center;
  object-fit: contain;
}

.drawings {
  display: flex;
  padding: 0.5vh 0.5vw;
  max-height: 10vh
  width: auto;
  wrap-flex: wrap;
  object-fit: contain;
